body
{
	font-family: Arial;
	margin: auto auto;
	width: 97%;
}
h4
{
	display: block;
	font-size: 15px;
}
#container
{
	margin: auto auto;
	position: relative;
	width: 97%;
}
#disks-level
{
	display: block;
}
#disks-collected
{
	display: block;
	padding-left: 4%;
}
#disks-level-amount,
#disks-collected-amount
{
	padding-top: 90%;
}
#HUD-center,
#HUD-level,
#HUD-timer,
#HUD-legend
{
	background-color: #000000;
	color: #FFFFFF;
	height: auto;
	opacity: 0.7;
	padding-bottom: 10px;
	padding-top: 10px;
	position: absolute;
	text-align: center;
	width: 10%;
	z-index: 1000;
}
#HUD-center
{
	background-image: url("../assets/textures/floppy-drive.png");
	background-position: 55% center;
	background-repeat: no-repeat;
	background-size: 15%;
	bottom: 3%;
	left: 40%;
	width: 20%;
}
#HUD-center h4
{
	margin-bottom: 1%;
}
#HUD-legend
{
	bottom: 3%;
	height: auto;
	right: 3%;
}
#HUD-level
{
	padding-top: 1%;
	right: 3%;
	top: 3%;
}
#HUD-timer
{
	top: 3%;
	left: 45%;
}
#legend-container,
#timer-container
{
	height: 95%;
	padding-top: 5%;
}
#legend-container h4
{
	margin-bottom: 10%;
}
#legend-container p
{
	display: block;
	font-size: 12px;
	margin-bottom: 5%;
	padding-left: 10%;
	text-align: left;
}
#mainview
{
	height: 100%;
	left: 0px;
	position: absolute;
	top: 0px;
}
#miniMapView
{
	bottom:15%;
	height: 10%;
	left:20px;
	position: absolute;
	width: 10%;
	z-index: 1000;
}
#modal
{
	background-color: #CCCCCC;
	min-height: 50%;
	left: 35%;
	position: absolute;
	top: 20%;
	width: 30%;
}
#modal button
{
	bottom: 5%;
	left: 40%;
	position: absolute;
	width: 20%
}
#modalMessage
{
	font-size: 14px;
	line-height: 16px;
	margin-bottom: 25px;
	padding: 5% 10%;
}
.mission-details
{
	display: block;
	float: left;
	font-size: 25px;
	text-align: center;
	width: 48%;
}
.time
{
	display: block;
	float: left;
	font-size: 25px;
	padding-top: 10%;
	text-align: center;
	width: 48%;
}